.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &-btn {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #d5d5d5;
    margin: 0 2px;
    transition: all 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 45px;

    &:hover {
      background-color: var(--primary);
      border-color: var(--primary);
    }

    &--active {
      background-color: var(--primary);
      border-color: var(--primary);
    }

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        border-color: #d5d5d5;
        background-color: #fff;
      }
    }
  }
}
