.not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &-icon {
    color: var(--primary);
  }

  &-title {
    font-size: 40px;
    color: var(--gray-200);

    @media screen and (max-width: 640px) {
      font-size: 30px;
    }
  }

  &-description {
    color: var(--gray-100);

    @media screen and (max-width: 640px) {
      font-size: 14px;
    }
  }
}
