.product-card {
  background-color: #fff;
  width: 415px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  color: #1f1f1f;
  box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.11);

  &-header {
    max-height: 250px;
    display: flex;
    position: relative;
  }

  &-icon-badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-pink);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom-right-radius: 20px;
  }

  &-body {
    padding: 30px;
  }

  &-badge-group {
    margin-top: 15px;
    gap: 20px;
    display: flex;
    color: var(--gray-200);
  }

  &-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
}
