.product-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  color: #1f1f1f;
  box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.11);

  &-header {
    height: 250px;
    display: flex;
    position: relative;
  }

  &-icon-badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--pink);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom-right-radius: 20px;

    &.pink {
      background-color: var(--pink);
    }

    &.blue {
      background-color: var(--light-blue);
    }

    &.purple {
      background-color: var(--purple);
    }
  }

  &-body {
    padding: 30px;
  }

  &-badge-group {
    margin-top: 15px;
    gap: 20px;
    color: var(--gray-200);
    display: flex;
    flex-wrap: wrap;
  }

  &-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }

  &-new {
    color: var(--green);
  }
}
